*{
	margin: 0;
	padding: 0;
}
html,body{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
.container{
	width: 100%;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right:  5px; 
}
/* padding */
.padding {
	padding: 5px;
}

/* margin */
input,textarea{
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px #ccc inset;
	line-height: 16px;
	vertical-align: middle;
	margin-bottom: 15px;
}
.btn{
	padding: 5px 10px;
	border: 1px solid #337ab7;
	border-radius: 5px;
	color: #fff;
	background: #337ab7;
}